version: "3.8"

services:
  auth:
    container_name: auth_service
    build: 
      context: .
      dockerfile: ./auth/Dockerfile
    ports: 
      - "8083:8083"
      - "50000:50000"
    depends_on:
      - postgres-prod
    restart: always

  chat:
     container_name: chat_service
     build:
       context: .
       dockerfile: ./chat/Dockerfile
     ports:
       - "8085:8085"
     depends_on:
       - postgres-prod
     restart: always

  postgres-prod:
    image: postgres:15-alpine 
    container_name: postgresDbProd 
    env_file:
      - "./postgres/migrations/.env"
    ports:
      - "50011:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: sigmawater
      POSTGRES_PASSWORD: sigmawater
      POSTGRES_DB: messenger_prod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10

  migrator-prod:  
    container_name: migration-prod
    build:
      context: ./postgres/migrations
      dockerfile: migration.Dockerfile
    depends_on:
      postgres-prod:
        condition: service_healthy
    restart: on-failure

volumes:
  pgdata:
    driver: local