version: "3.8"

services:
  auth:
    container_name: auth_service
    build: 
      context: .
      dockerfile: ./auth/Dockerfile
    ports: 
      - "8083:8083"
      - "50000:50000"
    depends_on:
      - postgres-prod
    restart: always

  chat:
     container_name: chat_service
     build:
       context: .
       dockerfile: ./chat/Dockerfile
     ports:
       - "8085:8085"
     depends_on:
       - postgres-prod
     restart: always

  postgres-prod:
    image: postgres:15-alpine 
    container_name: postgresDbProd 
    env_file:
      - "./postgres/migrations/.env"
    ports:
      - "50011:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: sigmawater
      POSTGRES_PASSWORD: sigmawater
      POSTGRES_DB: messenger_prod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10

  migrator-prod:  
    container_name: migration-prod
    build:
      context: ./postgres/migrations
      dockerfile: migration.Dockerfile
    depends_on:
      postgres-prod:
        condition: service_healthy
    restart: on-failure

  redis-auth: # Redis — кэш для auth
    image: redis:7.2.5-alpine3.20 # Лёгкий образ Redis последней стабильной версии
    container_name: redis-auth # Явное имя контейнера Redis

    env_file:
      - "./postgres/migrations/.env"

    ports:
      - "6379:6379"
      # Пробрасываем внутренний порт Redis на внешний, указанный в .env (например, 6380)
      # Это позволяет IAM-сервису обращаться к Redis по порту хоста

    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      # Проверка: если Redis отвечает на команду ping, значит он жив
      interval: 10s # Проверяем Redis каждые 10 секунд
      timeout: 5s # Ждём ответа до 5 секунд
      retries: 5 # После 5 неудачных попыток контейнер считается unhealthy

    restart: unless-stopped
    # Перезапуск Redis при сбое, если контейнер не остановлен вручную


volumes:
  pgdata:
    driver: local